.hero {
  background-image: url("/images/tajine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vh 0 10vh 0;
border-radius: 0 0 60px 60px;
// margin-bottom: 20px;
  scroll-behavior: smooth;
}
.testmonial {
  background-image: url("/images/tajine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vh 0 10vh 0;
  margin: 0 10px;
border-radius: 60px;
// margin-bottom: 20px;
  scroll-behavior: smooth;
}
.section {
  // background-image: url("/images/hero.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5vh 0 5vh 0;
border-radius: 0 0 60px 60px;
// margin-bottom: 20px;

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.shadow {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;

}